* {
	//font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light Two', cursive;
	box-sizing: border-box;
}

$purple:     rgb(100,91,183);
$lavender:           rgb(216,160,217);
$orange: #f45800;
$blue: #0192B5;

.done {
    text-decoration: line-through;
    color: $blue;
}

.undone {
    text-decoration: none;
}

.Task {
    display: flex;

    * {
        flex: 1;
        margin: 5%, auto;
        font-size: 24px;
    }

    li {
        font-family: 'Shadows Into Light Two', cursive;
        list-style: none;
    } 
}



a {
        text-decoration: none;
        font-family: 'Shadows Into Light Two', cursive;
        padding: 2% 4%;
        margin: 2% 2% 0 2%;
        color: #555;
       // background: #222569;
        //border: 5px solid #555;
        display: inline-block;
       // border-bottom: none;
    }




input {
    padding: 1%;
    border: 1px solid $blue;
    transition: .5s border ease;
    font-size: 18px;
}

input:focus {
    outline: none;
    border: 3px solid $blue;
}

.AppView {
    text-align: left;

    .Header {

        #hLeft  {
            font-size: 56px;
            color: $blue;
            //margin-bottom: 1%;
        }

        #hRight  {
            font-size: 56px;
            color: $orange;
            //margin-bottom: 1%;
        }

    }

    p {
        font-size: 16px;

    }
}

#guestsViewContainer {
    text-align: center;
    margin: 0 auto;
    width: 80%;

    #guestList {
        border: 2px solid $blue;
        min-height: 100px;

        .guest {
            text-align: left;
            font-size: 24px;
            background: $lavender;
            padding: 2%;
            color: white;
            margin: 2%;
            position: relative;

            button {
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translateY(-50%);
                background: $purple;
                padding: 1%;
                border: none;
                font-size: 20px;
            }
        }
    }

}

@media screen and (min-width: 800px) {
    #inner-container {
        margin: 240px auto 0;
        max-width: 480px;
    }

    #todo-list {
        width: 100%;
    }
}

.cool-check{
    position: relative;
    > *{
        position: absolute;
        width: 50%;
        height: 50%;
    }

    > div {
        background: $orange;
        z-index: 1;
    }

    >input{
        opacity: 0;
        z-index: 2;
    }

    input:checked + * {
        background: $blue;
    }
}
